# Config file for ansible -- https://ansible.comm/

[defaults]
inventory = inventory/hosts

# By default, ansible-playbook will display "Skipping [host]" if it determines
# a task should not be run on a host. Set this to "False" if you don't want to
# see these "Skipping" messages. NOTE: the task header will still be shown
# regardless of whether or not the task is skipped.
#
display_skipped_hosts = False

# Host key checking is enabled by default
host_key_checking = False

interpreter_python = auto_silent
