{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osId := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-   $osId = "wsl" -}}
{{- end -}}
{{- if and (eq .chezmoi.os "windows") (env "MSYSTEM") -}}
{{-   $osId = "msys2" -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $hostname := output "scutil" "--get" "LocalHostName" | trim -}}
{{- end -}}

{{- if stat "/proc/1/cgroup" -}}
{{-   $cgroup := output "cat" "/proc/1/cgroup" -}}
{{-   $match := regexFind "(docker|lxc|podman|kubepods|containerd)" $cgroup -}}
{{-   if $match -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if stdinIsATTY -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

[data]
  ephemeral = {{ $ephemeral }}
  work = {{ $work }}
  headless = {{ $headless }}
  hostname = {{ $hostname | quote }}
  personal = {{ $personal }}
  osId = {{ $osId | quote }}

{{- if lookPath "podman" }}
[docker]
  command = "podman"
{{- end }}

[github]
  refreshPeriod = "12h"
