["{{ .vimPackDir }}/github/start/copilot.vim"]
type = "git-repo"
url = "https://github.com/github/copilot.vim.git"
refreshPeriod = "168h"

# === UI ===

["{{ .vimPackDir }}/catppuccin/start/vim"]
type = "git-repo"
url = "https://github.com/catppuccin/vim.git"
refreshPeriod = "168h"

["{{ .vimPackDir }}/itchyny/start/lightline.vim"]
type = "git-repo"
url = "https://github.com/itchyny/lightline.vim.git"
refreshPeriod = "168h"

# === Editor ===

["{{ .vimPackDir }}/tpope/start/vim-sleuth"]
type = "git-repo"
url = "https://github.com/tpope/vim-sleuth.git"
refreshPeriod = "168h"

["{{ .vimPackDir }}/andymass/start/vim-matchup"]
type = "git-repo"
url = "https://github.com/andymass/vim-matchup.git"
refreshPeriod = "168h"

["{{ .vimPackDir }}/tpope/start/vim-commentary"]
type = "git-repo"
url = "https://github.com/tpope/vim-commentary.git"
refreshPeriod = "168h"

["{{ .vimPackDir }}/tpope/start/vim-surround"]
type = "git-repo"
url = "https://github.com/tpope/vim-surround.git"
refreshPeriod = "168h"

# === LSP ===

["{{ .vimPackDir }}/prabirshrestha/start/vim-lsp"]
type = "git-repo"
url = "https://github.com/prabirshrestha/vim-lsp.git"
refreshPeriod = "168h"

["{{ .vimPackDir }}/prabirshrestha/start/async.vim"]
type = "git-repo"
url = "https://github.com/prabirshrestha/async.vim.git"
refreshPeriod = "168h"

["{{ .vimPackDir }}/prabirshrestha/start/asyncomplete.vim"]
type = "git-repo"
url = "https://github.com/prabirshrestha/asyncomplete.vim.git"
refreshPeriod = "168h"

["{{ .vimPackDir }}/mattn/start/vim-lsp-settings"]
type = "git-repo"
url = "https://github.com/mattn/vim-lsp-settings.git"
refreshPeriod = "168h"

["{{ .vimPackDir }}/mattn/start/vim-lsp-icons"]
type = "git-repo"
url = "https://github.com/mattn/vim-lsp-icons.git"
refreshPeriod = "168h"
