#!/bin/csh -f
# -*- mode: csh; tab-width: 8; indent-tabs-mode: t -*- ;; Emacs
# vi: set filetype=csh tabstop=8 shiftwidth=8 noexpandtab :: Vi/ViM

onintr -
if (! $?prompt ) goto end
if (! -e `where fzf` ) goto end

if ( -e `where fd` ) then
	setenv FZF_DEFAULT_COMMAND	'fd --type f --hidden --follow --exclude .git'
	setenv FZF_ALT_C_COMMAND	'fd --type d --hidden --follow --exclude .git'
	setenv FZF_CTRL_T_COMMAND	"$FZF_DEFAULT_COMMAND"
else if ( -e `where rg` ) then
	setenv FZF_DEFAULT_COMMAND	'rg --files --hidden'
	setenv FZF_CTRL_T_COMMAND	"$FZF_DEFAULT_COMMAND"
endif

setenv FZF_DEFAULT_OPTS	'--height 40% --layout=reverse --border --info=inline'

if ( -e `where bat` ) then
	setenv FZF_CTRL_T_OPTS	"--preview 'bat --color=always --style=numbers --line-range :300 {}'"
else
	setenv FZF_CTRL_T_OPTS	"--preview 'cat {}'"
endif

if ( -e `where tree` ) then
	setenv FZF_ALT_C_OPTS	"--preview 'tree -C {} | head -200'"
endif

end:
	onintr
